* {
    margin: 0;
    padding: 0;
   }
/* ------ Media Query ------ */
@media (max-width: 2561px) {
    html,body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;  
    }
}

                                    /* Heros Section */

.heros-section {
    width: 100%;
    height: 550px;
    height: 100vh;
    background: url(images/news.webp);
    background-size: cover;
    background-position: center;
}

/* Img Section */

/* Img Overlay */
.heros-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    height: 100vh;
    background: #21252947;
}
/* Logo Section */
.heros-section .container-fluid {
    position: absolute;
    font-weight: bold;
    font-family: "Abril Fatface", times, serif;
    padding-top: 120px;
    padding-left: 20px;
    z-index: 2;
}
.heros-section .container-fluid a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    
}
/*Menu Icon Section */

/* Heading Section */
.heros-section .site-heading h1 {
    position: absolute;
    font-weight: bold;
    font-size: 70px;
    color: #fff;
    padding-left: 40%;
    line-height: 90vh;
    z-index: 2;
}

/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .heros-section .site-heading h1 {
        margin-top: -60px;
        padding-left: 46%;
    }
}
@media (max-width: 1441px) {
    .heros-section .site-heading h1 {
        margin-top: -5px;
        padding-left: 44%;
    }
}
@media (max-width: 1026px) {
    .heros-section .site-heading h1 {
        padding-left: 43%;
        font-size: 60px;
    }
}
@media (max-width: 768px) {
    .heros-section .site-heading h1 {
        font-size: 40px;
        padding-top: 10px;
    }
}
@media (max-width: 500px) {
    .heros-section .site-heading h1 {
        padding-left: 39%;
    }
}
@media (max-width: 376px) {
    .heros-section .site-heading h1 {
        font-size: 35px;
        padding-left: 38%;
    }
}
/* Paragraph Section */
.heros-section .site-para {
    position: absolute;
    color: #fff;
    font-size: 2vw;
    padding-left: 28%;
    line-height: 113vh;
    z-index: 2;
}

/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .heros-section .site-para {
        margin-top: -90px;
    }
}
@media (max-width: 1441px) {
    .heros-section .site-para {
        margin-top: 0px;
    }
}
@media (max-width: 992px) {
    .heros-section .site-para {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .heros-section .site-para {
        font-size: 16px;
        margin-left: -5px;
        margin-top: -5px;
    }
}
@media (max-width: 500px) {
    .heros-section .site-para {
        font-size: 16px;
        margin-left: -80px;
    }
}
/* ------ Media Query ------ */
@media (max-width: 424px) {
    .heros-section .site-para {
        font-size: 13px;
        padding-left: 125px;
    }
}
@media (max-width: 374px) {
    .heros-section .site-para {
        font-size: 12px;
        padding-left: 110px;
    }
}
.heros-section .site-para a {
    color: #fff;
    opacity: 0.5;    
}
.heros-section .site-para a:hover{
    color: aqua;
} 
                          /* Blog Post Section */

/* Blog Post Background Color / height / width Set */                          
.blog-post {
    width: 100%;
    height: 500px;
    padding-top: 50px;
}
/* ------ Media Query ------ */
@media (max-width: 768px) {
    .blog-post {
        width: 100%;
        height: 1000px;
    }
}
@media (max-width: 426px) {
    .blog-post {
        width: 100%;
        height: 1500px;
    }
}
/* First Album */
/* Blog Post Album Part */
.blog-post .album {
    width: 33.33%;
    padding-top: 50px;
    padding-left: 110px;
    float: left;
    margin-left: -35px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .blog-post .album {
        margin-right: -150px;
        margin-left: 120px;
    }
}
@media (max-width: 768px) {
    .blog-post .album {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .blog-post .album {
        width: 100%;
    }
}
/* Blog Post Album Part Border Part */
.blog-post .album .first-album {
    border: 1px solid #fff;
    width: 350px;
    height: 400px;
    background-color: #fff;
}
/* ------ Media Query ------ */
@media (max-width: 1026px) {
    .blog-post .album .first-album {
        width: 300px;
        height: 400px;
        margin-left: -20px;
    }
}
@media (max-width: 768px) {
    .blog-post .album .first-album {
        margin-left: -15px;
    }
}
@media (max-width: 426px) {
    .blog-post .album .first-album {
        margin-left: -9px;
    }
}
@media (max-width: 376px) {
    .blog-post .album .first-album {
        margin-left: -35px;
    }
}
@media (max-width: 321px) {
    .blog-post .album .first-album {
        margin-left: -65px;
    }
}
/* Blog Post Album Part Text */
.blog-post .first-text {
    text-align: left;
    padding-left: 30px;
}
/* Blog Post Album Part Post Date */
.blog-post .first-text .post {
    color: #ced4da;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 6;
}
/* Blog Post Album Part Heading Part */
.blog-post .first-text h2 {
    font-family: "Abril Fatface", times, serif;
    margin-top: -30px;
    font-weight: bold;   
}
.blog-post .first-text h2 a {
    color: #000;
    text-decoration: none;
}
.blog-post .first-text h2 a:hover {
    color: #65c0ba;
}
/* Blog Post Album Part Paragraph Part */
.blog-post .first-text p {
    line-height: 1.8;
    color: #6c757d;
}

                      /* Footer Section */
 .footer-section {
    width: 100%;
    height: 500px;
    background-color: #000;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section {
        width: 100%;
        height: 900px;
    }
}
@media (max-width: 576px) {
    .footer-section {
        width: 100%;
        height: 1500px;
    }
}
/* First Colums */
.footer-section .first-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section .first-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .first-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .first-text h3 {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}

.footer-section .first-text .list-link {
   font-size: 18px;
    list-style: none;
    line-height: 2;
    padding-left: 100px;
    padding-top: 10px;
    
}

.footer-section .first-text .list-link a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

/* Second Colums */
.footer-section .second-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section .second-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .second-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .second-text h3 {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}

.footer-section .second-text .list-link {
   font-size: 18px;
    list-style: none;
    line-height: 2;
    padding-left: 100px;
    padding-top: 10px;
    
}

.footer-section .second-text .list-link a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

/* Third Colums */
.footer-section .third-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section .third-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .third-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .third-text h3 {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}

.footer-section .third-text .address {
    padding-left: 100px;
    font-style: italic;
    color: #fff;
    line-height: 3;
}

.footer-section .third-text .add {
    padding-left: 100px;
    color: #fff;
    opacity: 0.5;
}

/* Fourth Colums */
.footer-section .fourth-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section .fourth-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .fourth-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .fourth-text h3 {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}
.footer-section .fourth-text p .sub {
    color: #fff;
    opacity: 0.5;
    padding-left: 100px;
    line-height: 3;
}
